#users {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#users td, #users th {
  border: 1px solid #ddd;
  padding: 2px;
}

#users tr:nth-child(even){background-color: #f2f2f2;}

#users tr:hover {background-color: #ddd;}

#users th {
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
button{
  /* padding: 15px;
  float: right;
  margin: 50px 0; */
  cursor: pointer;
}
.search-bar{
  height: 35px;
    width: 50%;
    background: #fcfafa;
    margin: 15px 0;
}